.home {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
  flex-wrap: wrap;
}
.home__rowProduct {
  width: 45%;
}

@media screen and (max-width: 480px) {
  .home__rowProduct {
    width: 100%;
  }
}
