.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__image {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1;
}

.slider__beforeArrow {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 3rem !important;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slider__nextArrow {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 3rem !important;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
  height: 234px;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}

@media screen and (max-width: 745px) {
  .slide {
    height: 150px;
  }
  .slider__beforeArrow {
    top: 40%;
  }
  .slider__nextArrow {
    top: 40%;
  }
  .slide {
    height: 80px;
  }
}
