.order {
  padding: 40px;
  margin: 20px 0;
  border: 1px solid lightgray;
  background-color: white;
  position: relative;
}
.order__id {
  position: absolute;
  top: 40px;
  right: 20px;
}
.order__total {
  font-weight: 500;
  text-align: right;
}

@media screen and (max-width: 600px) {
  .order {
    padding: 60px 10px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .order__id {
    top: 10px;
    right: 0;
    padding-left: 7px;
    padding-right: 5px;
    padding-bottom: 5px;
  }
}
