.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: 450px;
  width: 100%;
  min-width: 100px;
  background-color: white;
  margin: 10px;
  padding: 20px;
  z-index: 1;
  transition: transform 0.45s;
}

.product:hover {
  transform: scale(1.04);
}

.product__price {
  margin-top: 5px;
}
.product__image {
  max-width: 100%;
  max-height: 200px;
  margin-bottom: 15px;
}

.product__image > img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}
.product__info {
  /* height: 100px; */
  margin-bottom: 15px;
}
.product__rating {
  pointer-events: none;
}

.product > button {
  background-color: #ffd813;
  border: 1px solid #e9c61a;
  cursor: pointer;
  transition: all 0.5s ease-out;
  padding: 5px;
}
.product > button:hover {
  background-color: #e9c61a;
  border: 1px solid #ddbd1b;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
